@import url('https://fonts.googleapis.com/css?family=Exo+2:600&display=swap');



body{
    margin: 0;
	padding: 0;
	
}

h1{
    font-family: 'Exo 2', sans-serif;
}

#text23{
	font-size: 20px;
}


.s1{
    background:linear-gradient(to left, #8942a8,#ba382f) ;
    
    
    h1{
        color:white;
    }

}

.s2{
    background:linear-gradient(to left, #8942a8,#ba382f) ;

    
    h1{
        color:white;
    }

}


hr{
	border-top: 1px double black;
	height: px;
	width:50%;
	margin-left:25%!important;
	margin-right:25% !important;
	margin-top:-1em   ;
	
}



.s3{
   background:linear-gradient(to left, #8942a8,#ba382f) ;
    
    
    h1{
		color:black;
		font-family: 'Exo 2', sans-serif;
		text-align: center;
	}
	

}

span{
    background: white !important;
}

.fp-slideNav.fp-bottom{
    
    margin-left: 1em !important;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);


#profile-pic{
	width: 130px;
	height: 130px;
}



@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;	
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	    -ms-transform: translateX(-50%);
  	        transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	    -ms-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	text-transform: uppercase;
}

html {
	font-size: 62.5%;
}

body {
	color: black;
	letter-spacing: .18em;
}

a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}

ul, li {
	list-style-type: none;
	
}

.techstack li i {
	padding-left: 15px;
	padding-top: 10px;
}


/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
	background: rgba(0, 47, 77, .3);
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}

h1 {
	line-height: 70px;
	height: 70px;
}

h1 a {
	display: block;
	padding: 0 10px;
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}

.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

nav {
 	height: 0;
	opacity: 99;
  box-sizing: border-box;
	background: rgba(0, 47, 77, .99);
	position: fixed;
	top: 70px;
	width: 100%;
  -webkit-transition: all 3s;
          transition: all 3s;
}

.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px);
}

nav ul {
	padding: 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

nav li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav li a {
	font-size: 12px;
	display: block;
	padding: 30px;
	text-align: center;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

.l-left img{
	padding-bottom: 20px;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
	background: transparent;
}

nav li:nth-child(even) a {
	background: transparent;
}

nav li:nth-child(odd) a:hover {
	background: transparent;
}

nav li:nth-child(even) a:hover {
	background: transparent;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
	background: transparent;
}
  

#fp-nav{
	margin-top:-170px  !important;
}

/****************Reveal TExt**************************************************/

#text {
	font-size: 25px;
  }

/****************downloadbutton**************************************************/

 /*Button Two*/
.button-two {
	border-radius: 0;
	border-color: transparent;
	background-color:transparent;
	border: none;
	padding: 20px;
	width: 100px;
	height: 50px;
	transition: all 0.5s;
  }
  .button-two   p {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	border-color: transparent;
  }  

  .button-two  p:after {
	content: '';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
	border-color: transparent;
	border: none;
  }

  .button-two:hover  p {
	padding-right: 25px;
	border: none;
  }

  .button-two:hover   p:after {
  opacity: 1;
  right: 0;
  border-color: transparent;
  border: none;
}


/******pop-up****/

