%transition_all_03s {
    transition:all .3s ease;
  }
  %backface_visibility_hidden{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .swiper-container {
    width: 100%;
    height: 28vw;
    transition:opacity .6s ease;
    &.swiper-container-coverflow{
      padding-top:2%;
      padding-bottom: 10%;
    }
    &.loading{
      opacity:0;
      visibility:hidden;
      
    }
    &:hover{
      .swiper-button-prev,
      .swiper-button-next{
        transform:translateX(0);
        opacity:1;
        visibility:visible;
      }
    }
  }
  .swiper-wrapper{
   
  }

  .swiper-slide-active{
      
  }


  .swiper-slide{
    background-position:center;
    background-size: cover;
    
   
    
    
    .slide-inner{
      
    }
    .entity-img{
      display:none;
      
    }
    .content{
      position:absolute;
      top:40%;
      left:0;
      width:50%;
      font-size: 15px;
      
      padding-left:5%;
      color:#fff;
      .title{
        font-size:2.6em;
        font-weight:bold;
        margin-bottom:30px;
      }
      .caption{
        display:block;
        font-size:10px;
        line-height:1.4;
        background: transparent !important;
        margin-top: -70px;
        padding-left: 175px;
      }
    }
  }
  [class^="swiper-button-"]{
    width:44px;
    opacity:0;
    visibility:hidden;
    @extend %transition_all_03s;
  }
  .swiper-button-prev{
    transform:translateX(50px);
  }
  .swiper-button-next{
    transform:translateX(-40px);
  }

  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    padding-right: 70px;
    padding-bottom:20px ;
}



  .swiper-container-horizontal{
    width:600px;
    height:500px;
    >.swiper-pagination-bullets{
      .swiper-pagination-bullet{
        margin:6 09px;
        position: relative;
        width:12px;
        height:12px;
        background-color:black;
        opacity:.4;
        margin-bottom: -10px;
        margin-right: 20px;
        @extend %transition_all_03s;
        &::before{
          content:'';
          position:absolute;
          top:50%;
          left:50%;
          width:18px;
          height:18px;
          transform:translate(-50%, -50%);
          border:0px solid #fff;
          border-radius:50%;
          @extend %transition_all_03s;
        }
        &:hover,
        &.swiper-pagination-bullet-active{
          opacity:1;
        }
        &.swiper-pagination-bullet-active{
          &::before{
            border-width:1px;
          }
        }
      }
    }
  }
  
  // Mediaqueries
  @media(max-width:1180px){
    .swiper-slide{
      .content{
        .title{
          font-size:20px;
        }
        .caption{
          font-size:10px;
        }
      }
    }
  }
  @media(max-width:1023px){
    .swiper-container {
      height:60vw;
      &.swiper-container-coverflow{
        padding-top:0;
      }
    }
  }

  @media(max-width:480px){
    .swiper-container {
      height:400px;
      width: 350px;
      ;
      &.swiper-container-coverflow{
        padding-top:0;
      }
    }
    .swiper-slide{
     .content{
        .title{
            font-size:10px;
          }
          .caption{
            font-size:10px;
          }
        }
    }
  }

  

  .swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
    
}

